<div class="form-group">
    <label> Search: </label>
    <div class="form-inline">
        <input class="form-control m-2" type="text" @bind-value="@key" placeholder="recipe names, ingredients, key words...">
        <button class="btn btn-primary" @onclick="() => Search()"><span class="oi oi-lo" aria-hidden="true"></span></button>
    </div>
</div>

@code {
    public string key { get; set; }
    [Inject]
    public IHttpClientRepository Client { get; set; }

    public void Search()
    {

    }
}
