@page "/all_categories"

<h2> All Categories </h2>

@if (categories == null)
{
    <div class="spinner-border-sm" role="status">
        <span class="sr-only">Loading...</span>
    </div>
}
else
{
    @foreach (var categoryType in categories)
    {
            <h4> @categoryType.Key </h4>
            <ul class="list-group">
                @foreach (var category in categoryType.Value)
                {
                    <li class="list-group-item"> @category.Name </li>
                }
            </ul>
    }

}

@code {
    [Inject]
    public IHttpClientRepository Client { get; set; }

    private Dictionary<string, List<CookTool.Shared.Models.Category>> categories;

    protected override async Task OnInitializedAsync()
    {
        categories = await Client.GetCategories();
    }
}
