@page "/all_categories"

<h2> All Categories </h2>

@if (categories == null)
{
    <div class="spinner-border-sm" role="status">
        <span class="sr-only">Loading...</span>
    </div>
}
else
{
    <ul class="list-group">
    @foreach (var category in categories)
    {

            <li class="list-group-item"> @category.Name </li> @category.CategoryType.TypeName
    }
    </ul>
}

@code {
    [Inject]
    public AbstractHttpClientRepository Client { get; set; }

    private List<CookTool.Shared.Models.Category> categories;

    protected override async Task OnInitializedAsync()
    {
        categories = await Client.GetCategories();
    }
}
