@page "/myrecipes"
@using Microsoft.AspNetCore.Components.Authorization
@using CookTool.Client.Shared.Helpers
@inject IJSRuntime JsRuntime

<AuthorizeView>
    <Authorized>
        <h3> My Recipes </h3>
        <hr />

        <div class="form-group">
            <a class="btn btn-success" href="recipe/create"><i class="oi oi-plus"></i> Add New Recipe</a>
        </div>
        <br>

        @if (recipes == null)
        {
            <text>Loading...</text>
        }
        else if (recipes.Count() == 0)
        {
            <text>No Recipes Found.</text>
        }
        else
        {
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Photo</th>
                        <th>Title</th>
                        <th>Public</th>
                        <th>Show</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (CookTool.Shared.Models.Recipe recipe in recipes)
                    {
                        <tr>
                            <td>
                                <div class="rounded-circle" style=@ImageHelper.ImageStyle>
                                    <img src=@ImageHelper.RenderImageString(recipe.Image, "images/default_recipe.png") alt="No image for this user" style="height: 45px;" />
                                </div>
                            </td>
                            <td> @recipe.Title </td>
                            <td> @RecipeHelper.IsPublic(recipe.IsPrivate) </td>
                            <td>
                                <a class="btn btn-success" href="recipe/@recipe.Id.ToString()">Show</a>
                            </td>
                            <td>
                                <a class="btn btn-warning" href="recipe/edit/@recipe.Id.ToString()">Edit</a>
                            </td>
                            <td>
                                <button class="btn btn-danger" @onclick="@(() => Delete(recipe))">Delete</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </Authorized>
    <NotAuthorized>
        <RedirectToLogin />
    </NotAuthorized>
</AuthorizeView>

@code {
    [Inject]
    public AbstractHttpClientRepository Client { get; set; }

    List<CookTool.Shared.Models.Recipe> recipes { get; set; }

    protected override async Task OnInitializedAsync()
    {
        recipes = await Client.GetUserRecipes();
    }
    async Task Delete(CookTool.Shared.Models.Recipe recipe)
    {
        bool confirmed = await JsRuntime.InvokeAsync<bool>("confirm", $"Are you sure you want to delete {recipe.Title} recipe?");
        if (confirmed)
        {
            await Client.DeleteUserRecipe(recipe.Id);
            await OnInitializedAsync();
        }
    }
}

